<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; WeBuyAnyStairLift 2016</p>
        </div>
    </div>
    <%= social_share_button_tag("We Buy Any Stairlift") %>
</footer>

</div>
<!-- /.container -->
