<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
          <%= social_share_button_tag("We Buy Any Stairlift") %>
          <p>Unit 15, Holme Bank Mills, Mirfield, West Yorkshire, WF14 8NA</p>
          <p>Copyright &copy; WeBuyAnyStairLift 2016</p>
          <p>WeBuyAnyStairlift is a fully insured VAT Registered company</p>
        </div>
    </div>
</footer>

</div>
<!-- /.container -->
