<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-sm-6">
          <%= social_share_button_tag("We Buy Any Stairlift") %>
          <p>Copyright &copy; We Buy Any StairLift 2017</p>
        </div>
        <div class="col-sm-6">
          <p class="skylink-address">We Buy Any Stairlift is part of the Skylink Lifts Group.<br>
          <strong>Registered Address:</strong><br>
          Skylink Lifts ltd<br>
          Shepley Bridge<br>
          Mirfield<br>
          West Yorkshire<br>
          WF14 9HR<br>
          Company Number: 05544427<br>
          Tel: <a href="tel:0800 1777266">0800 1777266</a><br>
          Tel: <a href="tel:01484 363845">01484 363845</a><br>
          Email: <a href="mailto:skylinkliftsltd@aol.com">skylinkliftsltd@aol.com</a></p>
        </div>
    </div>
</footer>

</div>
<!-- /.container -->
