<div class="container">

	<div class="row">

		<div class="col-lg-12">

			<h1> About Us </h1>

			<hr class="mfifteen">

			<p>We have been in the stairlift industry over <strong>20</strong> years so we know its important you choose a knowledgeable professional to remove your stairlift. That’s why we only employ fully qualified electricians to safely remove your stairlift as quickly and efficiently as possible.</p>

			<p>Many professionals will charge high rates to remove a stairlift, but at <strong>We Buy Any Stairlift</strong> we have a solution, we can offer you the best most realistic price for your used stairlift, as well as a free removal service, leaving our customers satisfied. </p>

		</div>

	</div>

	<div class="row">

		<div class="col-md-8 col-sm-6">

			<h1> Removals </h1>

			<hr class="mfifteen">

			<p>Whether you’ve suffered a loss and no longer require a stairlift in the property, purchased a house with an existing stairlift left in it, or perhaps looking to replace an old stairlift with a newer model, it is important you get a reliable and fast service to efficiently remove it.</p>

			<p><strong>We Buy Any Stairlift will:</strong></p>
			<ul>
				<li>Talk you through the whole process.</li>
				<li>Keep you informed and up-to-date on your sale.</li>
				<li>Offer the best realistic price for your stairlift + <strong>FREE</strong> Removal service.</li>
				<li>Quick and easy removal in 30-60 minutes</li>
				<li>Safe and professional removal by a fully qualified electrician</li>
				<li>Guarantee prompt payment by paying you direct, before the stairlift has been removed.</li>
				<li>Cover the whole of the UK!</li>
			</ul>

		</div>

		<div class="col-md-4 col-sm-6">

			<h4 class="map-txt"> We Cover the Whole of the UK!</h4>

			<%= image_tag 'map-colour-uk-only.png', class: 'img-responsive map', alt: 'We Cover The Whole Of The UK!' %>

		</div>

	</div>