<% provide(:title, 'Stairlift and Used Stairlift Removal UK | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We cover the whole of the UK (excluding Scotland) so speak to one of the team today!') %>

<div class="container">

  <div class="row">

    <div class="col-lg-12">

      <h1>Areas Covered</h1>

      <hr class="mfifteen">

      <p>We cover the below areas throughout the UK (excluding Scotland) and more. <a href="tel:0800 177 7266">Contact us</a> today to see if we can remove your stairlift.
      </p>

    </div>

  </div>

  <div class="row location-lists mtop">

    <div class="col-sm-3 col-xs-6">

      <ul>
        <li><a href="/areas-covered/accrington/">Accrington</a></li>
        <li><a href="/areas-covered/alderley-edge/">Alderley Edge</a></li>
        <li><a href="/areas-covered/alfreton/">Alfreton</a></li>
        <li><a href="/areas-covered/alsager/">Alsager</a></li>
        <li><a href="/areas-covered/altrincham/">Altrincham</a></li>
        <li><a href="/areas-covered/ashbourne/">Ashbourne</a></li>
        <li><a href="/areas-covered/ashton-under-lyne/">Ashton-Under-Lyne</a></li>
        <li><a href="/areas-covered/audlem/">Audlem</a></li>
        <li><a href="/areas-covered/barnsley/">Barnsley</a></li>
        <li><a href="/areas-covered/barrow/">Barrow</a></li>
        <li><a href="/areas-covered/barry/">Barry</a></li>
        <li><a href="/areas-covered/bath/">Bath</a></li>
        <li><a href="/areas-covered/bedford/">Bedford</a></li>
        <li><a href="/areas-covered/beverley/">Beverley</a></li>
        <li><a href="/areas-covered/birmingham/">Birmingham</a></li>
        <li><a href="/areas-covered/blyth/">Blyth</a></li>
        <li><a href="/areas-covered/boston/">Boston</a></li>
        <li><a href="/areas-covered/boston-spa/">Boston Spa</a></li>
        <li><a href="/areas-covered/bradford/">Bradford</a></li>
        <li><a href="/areas-covered/bridgend/">Bridgend</a></li>
        <li><a href="/areas-covered/bridgnorth/">Bridgnorth</a></li>
        <li><a href="/areas-covered/bristol/">Bristol</a></li>
        <li><a href="/areas-covered/bebington/">Bebington</a></li>
        <li><a href="/areas-covered/biddulph/">Biddulph</a></li>
        <li><a href="/areas-covered/bolton/">Bolton</a></li>
        <li><a href="/areas-covered/bury/">Bury</a></li>
        <li><a href="/areas-covered/burnley/">Burnley</a></li>
        <li><a href="/areas-covered/birkenhead/">Birkenhead</a></li>
        <li><a href="/areas-covered/blackburn/">Blackburn</a></li>
        <li><a href="/areas-covered/blackpool/">Blackpool</a></li>
        <li><a href="/areas-covered/blythe-bridge/">Blythe Bridge</a></li>
        <li><a href="/areas-covered/bootle/">Bootle</a></li>
        <li><a href="/areas-covered/bridgemere/">Bridgemere</a></li>
        <li><a href="/areas-covered/bridgenorth/">Bridgenorth</a></li>
        <li><a href="/areas-covered/buckley/">Buckley</a></li>
        <li><a href="/areas-covered/burton/">Burton</a></li>
        <li><a href="/areas-covered/buxton/">Buxton</a></li>
        <li><a href="/areas-covered/cannock/">Cannock</a></li>
        <li><a href="/areas-covered/cambridge/">Cambridge</a></li>
        <li><a href="/areas-covered/cardiff/">Cardiff</a></li>
        <li><a href="/areas-covered/carlsile/">Carlsile</a></li>
        <li><a href="/areas-covered/castleford/">Castleford</a></li>
        <li><a href="/areas-covered/cheltenham/">Cheltenham</a></li>
        <li><a href="/areas-covered/chesterfield/">Chesterfield</a></li>
        <li><a href="/areas-covered/coalville/">Coalville</a></li>
        <li><a href="/areas-covered/corby/">Corby</a></li>
        <li><a href="/areas-covered/coventry/">Coventry</a></li>
        <li><a href="/areas-covered/cheshire/">Cheshire</a></li>
        <li><a href="/areas-covered/chester/">Chester</a></li>
        <li><a href="/areas-covered/chirk/">Chirk</a></li>
        <li><a href="/areas-covered/church-minshull/">Church Minshull</a></li>
        <li><a href="/areas-covered/church-Stretton/">Church Stretton</a></li>
        <li><a href="/areas-covered/clwyd/">Clwyd</a></li>
        <li><a href="/areas-covered/chorley/">Chorley</a></li>
        <li><a href="/areas-covered/colwyn/">Colwyn Bay</a></li>
        <li><a href="/areas-covered/congleton/">Congleton</a></li>
      </ul>

    </div>

    <div class="col-sm-3 col-xs-6">

      <ul class="location-list">
        <li><a href="/areas-covered/Connahs-quay/">Connahs Quay</a></li>
        <li><a href="/areas-covered/Conwy/">Conwy</a></li>
        <li><a href="/areas-covered/Cheadle/">Cheadle</a></li>
        <li><a href="/areas-covered/Crewe/">Crewe</a></li>
        <li><a href="/areas-covered/Cuddington/">Cuddington</a></li>
        <li><a href="/areas-covered/darlington/">Darlington</a></li>
        <li><a href="/areas-covered/derby/">Derby</a></li>
        <li><a href="/areas-covered/dewsbury/">Dewsbury</a></li>
        <li><a href="/areas-covered/doncaster/">Doncaster</a></li>
        <li><a href="/areas-covered/dudley/">Dudley</a></li>
        <li><a href="/areas-covered/durham/">Durham</a></li>
        <li><a href="/areas-covered/Dudleston-Heath/">Dudleston Heath</a></li>
        <li><a href="/areas-covered/east-midlands/">East Midlands</a></li>
        <li><a href="/areas-covered/evesham/">Evesham</a></li>
        <li><a href="/areas-covered/Eccleshall/">Eccleshall</a></li>
        <li><a href="/areas-covered/Ellesmere/">Ellesmere</a></li>
        <li><a href="/areas-covered/Ellesmere-Port/">Ellesmere Port</a></li>
        <li><a href="/areas-covered/Faddiley/">Faddiley</a></li>
        <li><a href="/areas-covered/Flint/">Flint</a></li>
        <li><a href="/areas-covered/Fleetwood/">Fleetwood</a></li>
        <li><a href="/areas-covered/formby/">Formby</a></li>
        <li><a href="/areas-covered/gateshead/">Gateshead</a></li>
        <li><a href="/areas-covered/gloucester/">Gloucester</a></li>
        <li><a href="/areas-covered/grantham/">Grantham</a></li>
        <li><a href="/areas-covered/grimsby/">Grimsby</a></li>
        <li><a href="/areas-covered/Gresford/">Gresford</a></li>
        <li><a href="/areas-covered/harrogate/">Harrogate</a></li>
        <li><a href="/areas-covered/hartlepool/">Hartlepool</a></li>
        <li><a href="/areas-covered/hull/">Hull</a></li>
        <li><a href="/areas-covered/huddersfield/">Huddersfield</a></li>
        <li><a href="/areas-covered/Hale/">Hale</a></li>
        <li><a href="/areas-covered/Halkyn/">Halkyn</a></li>
        <li><a href="/areas-covered/Hanley/">Hanley</a></li>
        <li><a href="/areas-covered/Halifax/">Halifax</a></li>
        <li><a href="/areas-covered/Haslingden/">Haslingden</a></li>
        <li><a href="/areas-covered/Hawarden/">Hawarden</a></li>
        <li><a href="/areas-covered/Holmes-Chapel/">Holmes Chapel</a></li>
        <li><a href="/areas-covered/Holywell/">Holywell</a></li>
        <li><a href="/areas-covered/hyde/">Hyde</a></li>
        <li><a href="/areas-covered/Ironbridge/">Ironbridge</a></li>
        <li><a href="/areas-covered/keighley/">Keighley</a></li>
        <li><a href="/areas-covered/kendal/">Kendal</a></li>
        <li><a href="/areas-covered/kenilworth/">Kenilworth</a></li>
        <li><a href="/areas-covered/keswick/">Keswick</a></li>
        <li><a href="/areas-covered/kettering/">Kettering</a></li>
        <li><a href="/areas-covered/kidderminster/">Kidderminster</a></li>
        <li><a href="/areas-covered/Knowsley/">Knowsley</a></li>
        <li><a href="/areas-covered/Knutsford/">Knutsford</a></li>
        <li><a href="/areas-covered/lancaster/">Lancaster</a></li>
        <li><a href="/areas-covered/leeds/">Leeds</a></li>
        <li><a href="/areas-covered/leicester/">Leicester</a></li>
        <li><a href="/areas-covered/lincoln/">Lincoln</a></li>
        <li><a href="/areas-covered/loughborough/">Loughborough</a></li>
        <li><a href="/areas-covered/ludlow/">Ludlow</a></li>
        <li><a href="/areas-covered/lancashire/">Lancashire</a></li>
        <li><a href="/areas-covered/leyland/">Leyland</a></li>
      </ul>

    </div>

    <div class="col-sm-3 col-xs-6">

      <ul class="location-list">
        <li><a href="/areas-covered/Leek/">Leek</a></li>
        <li><a href="/areas-covered/Leigh/">Leigh</a></li>
        <li><a href="/areas-covered/Liverpool/">Liverpool</a></li>
        <li><a href="/areas-covered/Llandudno/">Llandudno</a></li>
        <li><a href="/areas-covered/Llangollen/">Llangollen</a></li>
        <li><a href="/areas-covered/matlock/">Matlock</a></li>
        <li><a href="/areas-covered/melton-mowbray/">Melton Mowbray</a></li>
        <li><a href="/areas-covered/middlesbrough/">Middlesbrough</a></li>
        <li><a href="/areas-covered/midlands/">Midlands</a></li>
        <li><a href="/areas-covered/milton-keynes/">Milton Keynes</a></li>
        <li><a href="/areas-covered/Macclesfield/">Macclesfield</a></li>
        <li><a href="/areas-covered/Mansfield/">Mansfield</a></li>
        <li><a href="/areas-covered/Market-Drayton/">Market Drayton</a></li>
        <li><a href="/areas-covered/Manchester/">Manchester</a></li>
        <li><a href="/areas-covered/merseyside/">Merseyside</a></li>
        <li><a href="/areas-covered/Mickle-Trafford/">Mickle Trafford</a></li>
        <li><a href="/areas-covered/Middlewich/">Middlewich</a></li>
        <li><a href="/areas-covered/Mold/">Mold</a></li>
        <li><a href="/areas-covered/Much-Wenlock/">Much Wenlock</a></li>
        <li><a href="/areas-covered/Nantwich/">Nantwich</a></li>
        <li><a href="/areas-covered/New-Brighton/">New Brighton</a></li>
        <li><a href="/areas-covered/Newcastle-under-Lyme/">Newcastle-under-Lyme</a></li>
        <li><a href="/areas-covered/Frodsham/">Frodsham</a></li>
        <li><a href="/areas-covered/Helsby/">Helsby</a></li>
        <li><a href="/areas-covered/newcastle/">Newcastle</a></li>
        <li><a href="/areas-covered/newport/">Newport</a></li>
        <li><a href="/areas-covered/newtown/">Newtown</a></li>
        <li><a href="/areas-covered/north-east/">North East</a></li>
        <li><a href="/areas-covered/northampton/">Northampton</a></li>
        <li><a href="/areas-covered/nottingham/">Nottingham</a></li>
        <li><a href="/areas-covered/nuneaton/">Nuneaton</a></li>
        <li><a href="/areas-covered/North-Rode/">North Rode</a></li>
        <li><a href="/areas-covered/North-Wales/">North Wales</a></li>
        <li><a href="/areas-covered/Standish/">Standish</a></li>
        <li><a href="/areas-covered/Northwich/">Northwich</a></li>
        <li><a href="/areas-covered/Middleton/">Middleton</a></li>
        <li><a href="/areas-covered/oldham/">Oldham</a></li>
        <li><a href="/areas-covered/otley/">Otley</a></li>
        <li><a href="/areas-covered/oxford/">Oxford</a></li>
        <li><a href="/areas-covered/oxfordshire/">Oxfordshire</a></li>
        <li><a href="/areas-covered/Oswestry/">Oswestry</a></li>
        <li><a href="/areas-covered/penrith/">Penrith</a></li>
        <li><a href="/areas-covered/peterborough/">Peterborough</a></li>
        <li><a href="/areas-covered/pontefract/">Pontefract</a></li>
        <li><a href="/areas-covered/Preston/">Preston</a></li>
        <li><a href="/areas-covered/Prestatyn/">Prestatyn</a></li>
        <li><a href="/areas-covered/Queensferry/">Queensferry</a></li>
        <li><a href="/areas-covered/redditch/">Redditch</a></li>
        <li><a href="/areas-covered/retford/">Retford</a></li>
        <li><a href="/areas-covered/Rhuthin/">Rhuthin</a></li>
        <li><a href="/areas-covered/Rhyl/">Rhyl</a></li>
        <li><a href="/areas-covered/Rochdale/">Rochdale</a></li>
        <li><a href="/areas-covered/Rossett/">Rossett</a></li>
        <li><a href="/areas-covered/Ruabon/">Ruabon</a></li>
        <li><a href="/areas-covered/Runcorn/">Runcorn</a></li>
        <li><a href="/areas-covered/scarborough/">Scarborough</a></li>
      </ul>

    </div>

    <div class="col-sm-3 col-xs-6">

      <ul class="location-list">
        <li><a href="/areas-covered/selby/">Selby</a></li>
        <li><a href="/areas-covered/sheffield/">Sheffield</a></li>
        <li><a href="/areas-covered/Sandbach/">Sandbach</a></li>
        <li><a href="/areas-covered/Sandiway/">Sandiway</a></li>
        <li><a href="/areas-covered/Saughall/">Saughall</a></li>
        <li><a href="/areas-covered/Shrewsbury/">Shrewsbury</a></li>
        <li><a href="/areas-covered/Shropshire/">Shropshire</a></li>
        <li><a href="/areas-covered/Salford/">Salford</a></li>
        <li><a href="/areas-covered/skegness/">Skegness</a></li>
        <li><a href="/areas-covered/skipton/">Skipton</a></li>
        <li><a href="/areas-covered/solihull/">Solihull</a></li>
        <li><a href="/areas-covered/south-shields/">South Shields</a></li>
        <li><a href="/areas-covered/south-wales/">South Wales</a></li>
        <li><a href="/areas-covered/spalding/">Spalding</a></li>
        <li><a href="/areas-covered/stourbridge/">Stourbridge</a></li>
        <li><a href="/areas-covered/stratford/">Stratford</a></li>
        <li><a href="/areas-covered/sunderland/">Sunderland</a></li>
        <li><a href="/areas-covered/swansea/">Swansea</a></li>
        <li><a href="/areas-covered/swindon/">Swindon</a></li>
        <li><a href="/areas-covered/southport/">Southport</a></li>
        <li><a href="/areas-covered/Stockport/">Stockport</a></li>
        <li><a href="/areas-covered/St-Helens/">St Helens</a></li>
        <li><a href="/areas-covered/Stafford/">Stafford</a></li>
        <li><a href="/areas-covered/Staffordshire/">Staffordshire</a></li>
        <li><a href="/areas-covered/Ramsbottom/">Ramsbottom</a></li>
        <li><a href="/areas-covered/Stapeley/">Stapeley</a></li>
        <li><a href="/areas-covered/Stoke-on-Trent/">Stoke-on-Trent</a></li>
        <li><a href="/areas-covered/Tamworth/">Tamworth</a></li>
        <li><a href="/areas-covered/Telford/">Telford</a></li>
        <li><a href="/areas-covered/tewkesbury/">Tewkesbury</a></li>
        <li><a href="/areas-covered/The-North-West/">The North West</a></li>
        <li><a href="/areas-covered/Wigan/">Wigan</a></li>
        <li><a href="/areas-covered/Wallasey/">Wallasey</a></li>
        <li><a href="/areas-covered/Warrington/">Warrington</a></li>
        <li><a href="/areas-covered/wakefield/">Wakefield</a></li>
        <li><a href="/areas-covered/wales/">Wales</a></li>
        <li><a href="/areas-covered/walsall/">Walsall</a></li>
        <li><a href="/areas-covered/welshpool/">Welshpool</a></li>
        <li><a href="/areas-covered/wetherby/">Wetherby</a></li>
        <li><a href="/areas-covered/whitley-bay/">Whitley Bay</a></li>
        <li><a href="/areas-covered/wigston/">Wigston</a></li>
        <li><a href="/areas-covered/worcestor/">Worcestor</a></li>
        <li><a href="/areas-covered/Weaverham/">Weaverham</a></li>
        <li><a href="/areas-covered/Whitchurch/">Whitchurch</a></li>
        <li><a href="/areas-covered/Widnes/">Widnes</a></li>
        <li><a href="/areas-covered/Willaston/">Willaston</a></li>
        <li><a href="/areas-covered/Wilmslow/">Wilmslow</a></li>
        <li><a href="/areas-covered/Winsford/">Winsford</a></li>
        <li><a href="/areas-covered/Wirral/">Wirral</a></li>
        <li><a href="/areas-covered/Wolverhampton/">Wolverhampton</a></li>
        <li><a href="/areas-covered/Worksop/">Worksop</a></li>
        <li><a href="/areas-covered/Wrexham/">Wrexham</a></li>
        <li><a href="/areas-covered/york/">York</a></li>
        <li><a href="/areas-covered/yorkshire/">Yorkshire</a></li>
      </ul>

    </div>

  </div>