<% provide(:title, 'We Buy Any Stairlift | Feedback Thank You') %>
<% provide(:description, 'Thank you for your Feedback. We take the feedback we recieve very seriously and will strive to continuously provide the best service possible.') %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <p>Thank you for your Feedback. We take the feedback we recieve very seriously and will strive to continuously provide the best service possible.</p>
    </div>
  </div>
